<header class="header">
    <div class="container">
        <div class="header__main">
            <div class="header__main-logo"></div>
            <div class="header__main-menu">
                <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="3" rx="1.5" fill="#393C43" />
                    <rect y="12" width="20" height="3" rx="1.5" fill="#393C43" />
                    <rect y="6" width="20" height="3" rx="1.5" fill="#393C43" />
                </svg>
                <span>меню</span>
            </div>
        </div>
        <div class="header__container">
            <div class="header__blur"></div>
            <div class="header__container-header">
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="4.12134" y="0.14209" width="20" height="3" rx="1.5" transform="rotate(45 4.12134 0.14209)" fill="#393C43" />
                    <rect x="2.12134" y="14.1421" width="20" height="3" rx="1.5" transform="rotate(-45 2.12134 14.1421)" fill="#393C43" />
                </svg>
                <span>меню</span>
            </div>
            <div class="header__main">
                <div class="header__main-left">
                    <div class="header__main-block">
                        <div class="header__main-block--img">

                        </div>
                        <div class="header__main-block--title">Наши услуги</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>