<div id="popup__application" aria-hidden="true" class="popup popup--application">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body">
        <button data-close type="button" class="popup__body-close-btn">
          <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              x="4.12134"
              y="0.14209"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(45 4.12134 0.14209)"
              fill="#393C43"
            />
            <rect
              x="2.12134"
              y="14.1421"
              width="20"
              height="3"
              rx="1.5"
              transform="rotate(-45 2.12134 14.1421)"
              fill="#393C43"
            />
          </svg>
        </button>
        <div class="popup__body-content-box">
          <form data-popup-message="" data-dev action="" class="popup__form">
            <p class="popup__form-title tl3">Заполните форму</p>
            <div class="popup__form-input-wrapper">
              <div class="popup__form-input-box txt20">
                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--name popup__form-input"
                      type="text"
                      data-validate
                      data-required="name"
                      autocomplete="off"
                      name="form[]"
                      placeholder="Ф.И.О."
                    />
               
                  </span>
                  <span class="error-span">Поле заполнено неверно</span>
                </label>

                <label class="popup__label input-group">
                    <span class="form__input-wrapper">
                      <input
                        class="input--mail popup__form-input"
                        type="email"
                        data-validate
                        data-required="name"
                        autocomplete="off"
                        name="form[]"
                        placeholder="Почта"
                      />
                    </span>
                    <span class="error-span">Поле заполнено неверно</span>
                  </label>


                <label class="popup__label input-group">
                  <span class="form__input-wrapper">
                    <input
                      class="input--tel popup__form-input phone-mask"
                      type="text"
                      autocomplete="off"
                      name="form[]"
                      placeholder="Телефон"
                    />
 
                  </span>
                  <span class="error-span"></span>
                </label>
         
              </div>
              <div class="popup__btn-box">
                <p class="popup__agreement-text txt16">
                  Нажимая на кнопку, Вы соглашаетесь на <a href="#">обработку персональных данных</a> и
                  <a href="#">политику конфиденциальности</a>
                </p>
                <button type="submit" class="popup__link link-list">
                  <p class="popup__link-text link-list__text txt18">Получить видео</p>
                  <div class="popup__link-svg-wrapper link-list__svg-wrapper">
                    <div class="popup__link-svg-box link-list__svg-box">
                      <svg
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                          fill="#6AA448"
                        />
                      </svg>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
