<section class="working-with">
  <div class="container">
    <div class="working-with__inner">
      <p class="working-with__title mobile tl2">С чем мы работаем</p>
      <div class="working-with__img-wrapper-block-wrap">
        <div class="working-with__img-wrapper-block" data-block="structure">
          <div class="working-with__img-wrapper-block-static">
            <img src="./assets/images/static.jpg" alt="">
          </div>
          <div class="working-with__img-wrapper-block-video">
          
              <video autoplay="" muted="" playsinline=""  src="./assets/images/skolios.mp4"></video>
         
            
          </div>
          <div class="working-with__img-wrapper-block-video">
            <video autoplay="" muted="" playsinline=""  src="./assets/images/ploscostopie.mov"></video>
          </div>
          <div class="working-with__img-wrapper-block-video">
            <video autoplay="" muted="" playsinline=""  src="./assets/images/valguas.mov"></video>
          </div>
          <div class="working-with__img-wrapper-block-video">
            <video autoplay="" muted="" playsinline=""  src="./assets/images/skolios.mp4"></video>
          </div>
          <div class="working-with__img-wrapper-block-video"></div>
      </div>
        <div class="working-with__img-wrapper-block" data-block="aesthetics">
          <div class="working-with__img-wrapper-block-static">
            <img src="./assets/images/static.jpg" alt="">
          </div>
          <div class="working-with__img-wrapper-block-video">
            <video autoplay="" muted="" playsinline="" src="./assets/images/kortel.mov"></video>
          </div>
          <div class="working-with__img-wrapper-block-video"></div>
          <div class="working-with__img-wrapper-block-video"></div>
          <div class="working-with__img-wrapper-block-video"></div>
          <div class="working-with__img-wrapper-block-video"></div>
      </div>
      <div class="working-with__img-wrapper-block" data-block="pain">
        <div class="working-with__img-wrapper-block-static">
          <img src="./assets/images/static.jpg" alt="">
        </div>
        <div class="working-with__img-wrapper-block-video"></div>
        <div class="working-with__img-wrapper-block-video"></div>
        <div class="working-with__img-wrapper-block-video"></div>
        <div class="working-with__img-wrapper-block-video"></div>
        <div class="working-with__img-wrapper-block-video"></div>
    </div>
      </div>

      <div class="working-with__content-wrapper">
        <div class="working-with__title-box">
          <p class="working-with__title desktop tl2">С чем мы работаем</p>
          <div class="working-with__tabs-box">
            <button class="working-with__tab tl4 active" data-tab="structure">Cтруктура тела</button>
            <button class="working-with__tab tl4" data-tab="aesthetics">Эстетика</button>
            <button class="working-with__tab tl4" data-tab="pain">Боль</button>
          </div>
        </div>
        <div class="working-with__content-box">
          <div class="working-with__swiper-wrapper-block">
            <div class="working-with__swiper-wrapper-box" data-content="structure">
              <div class="working-with__main-swiper-block">
                <div class="working-with__main-swiper swiper">
                  <div class="working-with__main-swiper-wrapper swiper-wrapper">
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="spine">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/structure-1.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Сколиоз</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="feet">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/structure-2.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Плоскостопие</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="shin">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/structure-3.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">
                            Вальгусная деформация коленей и стоп
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="back">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/structure-4.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Сутулость</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="loin">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/structure-5.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Гиперлордоз</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="working-with__swiper-btn-box">
                  <div
                    class="working-with__swiper-btn working-with__swiper-btn--prev swiper-btn swiper-button-prev"
                  >
                    <div class="swiper-btn__svg-box">
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                          fill="#393C43"
                        />
                        <path
                          d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                          stroke="#393C43"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div
                    class="working-with__swiper-btn working-with__swiper-btn--next swiper-btn swiper-button-next"
                  >
                    <div class="swiper-btn__svg-box">
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                          fill="#393C43"
                        />
                        <path
                          d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                          stroke="#393C43"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="working-with__text-swiper swiper">
                <div class="working-with__text-swiper-wrapper swiper-wrapper">
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Трёхплоскостная деформация позвоночника
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">Изменение формы свода стопы</p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">Заваливание стоп и коленей вовнутрь</p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          К признакам сутулости относится «компьютерная» шея,
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Чрезмерный прогиб позвоночника вперёд в поясничном отделе
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="working-with__swiper-wrapper-box" data-content="aesthetics">
              <div class="working-with__main-swiper-block">
                <div class="working-with__main-swiper swiper">
                  <div class="working-with__main-swiper-wrapper swiper-wrapper">
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="volume">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/aesthetics-1.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Корректируем объёмы тела</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="chin">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/aesthetics-2.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Убираем второй подбородок</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="stomach">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/aesthetics-3.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Восстанавливаем после родов</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="buttocks">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/aesthetics-4.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Создаём объёмные ягодицы</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="chest">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/aesthetics-5.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Восстанавливаем после пластики</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="working-with__swiper-btn-box">
                  <div
                    class="working-with__swiper-btn working-with__swiper-btn--prev swiper-btn swiper-button-prev"
                  >
                    <div class="swiper-btn__svg-box">
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                          fill="#393C43"
                        />
                        <path
                          d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                          stroke="#393C43"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div
                    class="working-with__swiper-btn working-with__swiper-btn--next swiper-btn swiper-button-next"
                  >
                    <div class="swiper-btn__svg-box">
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                          fill="#393C43"
                        />
                        <path
                          d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                          stroke="#393C43"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="working-with__text-swiper swiper">
                <div class="working-with__text-swiper-wrapper swiper-wrapper">
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Помогаем привести тело в нужную форму безопасно
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Оптимизируем дыхание и приводим кожу в тонус без пластической хирургии
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">Постепенное бережное восстановление</p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Расскажем, как ходить, чтобы ягодицы становились более подтянутыми
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Знаем, как дать правильную нагрузку, чтобы не навредить.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="working-with__swiper-wrapper-box" data-content="pain">
              <div class="working-with__main-swiper-block">
                <div class="working-with__main-swiper swiper">
                  <div class="working-with__main-swiper-wrapper swiper-wrapper">
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="chin">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/pain-1.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Боль в шее</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="loin">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/pain-2.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Боль в пояснице</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="shoulders">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/pain-3.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Боль между лопаток</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="feet-and-knees">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/pain-4.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Боль в коленях и стопах</p>
                        </div>
                      </div>
                    </div>
                    <div class="working-with__main-swiper-slide swiper-slide" data-svg="head">
                      <div class="working-with__main-slide-inner">
                        <div class="working-with__main-slide-img-box">
                          <img src="./assets/images/pain-5.webp" alt="" />
                        </div>
                        <div class="working-with__main-slide-text-box">
                          <p class="working-with__main-slide-text txt18">Частые головные боли</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="working-with__swiper-btn-box">
                  <div
                    class="working-with__swiper-btn working-with__swiper-btn--prev swiper-btn swiper-button-prev"
                  >
                    <div class="swiper-btn__svg-box">
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M20.8994 10.8994L21.8994 10.8994L21.8994 8.89943L20.8994 8.89943L20.8994 10.8994ZM2.33788 8.89943C1.78559 8.89943 1.33788 9.34714 1.33788 9.89943C1.33788 10.4517 1.78559 10.8994 2.33788 10.8994L2.33788 8.89943ZM20.8994 8.89943H2.33788L2.33788 10.8994H20.8994L20.8994 8.89943Z"
                          fill="#393C43"
                        />
                        <path
                          d="M9.14404 17.9429L1.1007 9.89954L9.14404 1.8562"
                          stroke="#393C43"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div
                    class="working-with__swiper-btn working-with__swiper-btn--next swiper-btn swiper-button-next"
                  >
                    <div class="swiper-btn__svg-box">
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.10033 9.10057L0.100327 9.10057L0.100327 11.1006L1.10033 11.1006L1.10033 9.10057ZM19.6619 11.1006C20.2142 11.1006 20.6619 10.6529 20.6619 10.1006C20.6619 9.54829 20.2142 9.10057 19.6619 9.10057L19.6619 11.1006ZM1.10033 11.1006L19.6619 11.1006L19.6619 9.10057L1.10033 9.10057L1.10033 11.1006Z"
                          fill="#393C43"
                        />
                        <path
                          d="M12.8557 2.05712L20.8991 10.1005L12.8557 18.1438"
                          stroke="#393C43"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="working-with__text-swiper swiper">
                <div class="working-with__text-swiper-wrapper swiper-wrapper">
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          На занятиях помогаем распределить нагрузку, чтобы с шеи избавиться от гипертонуса.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Активно включаем в работу мышцы живота так, чтобы снять напряжение с поясницы.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Оптимизируем лопатки, чтобы избавиться от триггеров и снять напряжение с плечей и
                          шеи
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Определяем зоны компенсации и асимметрии, чтобы выявить причину болей и
                          скорректировать положение тела.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="working-with__text-swiper-slide swiper-slide">
                    <div class="working-with__text-slide-inner">
                      <div class="working-with__text-slide-text-box">
                        <p class="working-with__text-slide-text txt18">
                          Избавляем от зажимов, которые ухудшают приток крови к мозгу.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="working-with__link link-list">
            <p class="working-with__link-text link-list__text txt18">Подробнее</p>
            <div class="working-with__link-svg-wrapper link-list__svg-wrapper">
              <div class="working-with__link-svg-box link-list__svg-box">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.19 2.28989C13.6405 5.62957 11.7312 8.96832 8.40479 10.2225L1.80896 12.7101C1.35847 9.37043 3.26779 6.03169 6.5942 4.77755L13.19 2.28989ZM14.3847 0L5.97263 3.17284C1.18165 4.98 -1.21709 10.2749 0.615291 15L9.02729 11.8272C13.8183 10.02 16.2171 4.72505 14.3847 0Z"
                    fill="#6AA448"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
